html {
	height: 100%; margin-bottom: 1px;
}
body {
	 margin: 0px; color: rgb(51, 51, 51); line-height: 135%; font-family: Arial; font-size: 80%;
}
a img{border:none;}

a:link {
	color: #888888;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #888888;
}
a:hover {
	text-decoration: none;
	color: #888888;
}
a:active {
	text-decoration: none;
	color: #888888;
}

/* Value Invest */
.main-content
{
  padding-left: 10px
}
.gap1{
	width:60px;
}	

.gap2{
	width:30px;
}	

.value_heading
{
    line-height: 100%;
    font-size: 14px;
	color:#da251d;
	text-transform:uppercase;
	text-decoration:underline;
	font-weight:bold;
	font-family:Tahoma;
}
.value_heading1
{
    line-height: 100%;
    font-size: 12px;
	color:#da251d;
	font-weight:bold;
	font-family:Tahoma;
	height:25px;
}

.value_qstn
{
    line-height: 100%;
    font-size: 15px;
	color:#d8231a;
	font-family:"myriad Pro", arial;
}
.value_txt
{
	line-height: 100%;
	font-size: 12px;
	color:#5f5c5b;
	line-height:22px;
	text-align:justify;
}

.bigtxtfield {
  display: block;
  width: 350px;
  color: #555;
  padding: 4px 6px;
  margin-bottom: 15px;
}

.bigtxtarea {
  display: block;
  width: 440px;
  height: 90px;
  padding: 5px 9px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 1.2em;
}
.value_input
{
    width: 100px;
    color: #5f5c5b;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 23px;
    vertical-align: top;
}
.value_input1
{
	width: 400px;
	color: #5f5c5b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 23px;
	vertical-align: top;
}
.value_input2
{
    width: 96px;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5f5c5b;
    padding-left: 3px;
}
.value_input3
{
	width: 65px;
	height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5f5c5b;
	padding-left: 3px;
	text-align:left;
}
.value_input3a
{
	width: 65px;
	height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5f5c5b;
	padding-left: 5px;
    padding-right: 5px;
	text-align:left;
}
.value_input4
{
	width: 60px;
	height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5f5c5b;
	
}
.value_input5
{
	width: 30px;
	height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5f5c5b;
	padding-left: 3px;
}
.value_input6
{
    width: 60px;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5f5c5b;
    padding-left: 3px;
}

.value_txtbox{
	width:100px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	height: 22px;
}
.value_table{
	color:#5f5c5b;
	font-size:12px;
	border:#d9d6d6 solid 1px;
	height: 26px;
}
.value_tableheader{
	background:#e9e8e8;
	color:#5f5c5b;
	font-size:12px;
	border-bottom:#d9d6d6 solid 1px;
	border-left:#d9d6d6 solid 1px;
	height: 26px;
	padding-left: 5px;
	font-weight: bold;
    text-align:left;
}
.value_tableheader1{
	background:#e9e8e8;
	color:#5f5c5b;
	font-size:12px;
	border-bottom:#d9d6d6 solid 1px;
	height: 26px;
	padding-left: 5px;
	font-weight: bold;
}

.value_tablerow{
	background:#fff;
	color:#5f5c5b;
	font-size:12px;
	border-bottom:#d9d6d6 solid 1px;
	height: 26px;
	padding-left: 5px;
	border-left: #d9d6d6 solid 1px;
}

.value_button{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:318px;
	margin-top:20px;
}
.value_button1{
	background:url(../img/value_btn.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
/*	margin-left:375px;
*/	margin-top:10px;
}

.value_button2{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:200px;
	margin-top:20px;
}
.value_button_top{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:230px;
	margin-top:20px;
}
.value_plot{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:45px;
	vertical-align:middle;
}

.value_reset{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:0px;
	margin-top:20px;
}

.value_go{
	background: url(../img/value_go.jpg) repeat-x #cccccc ;
	border:#d3d1d1 solid 1px;
	height:20px;
	width:80px;
	color: #605d5c;
	cursor:pointer;
	vertical-align: top;
	margin-left:10px;
	vertical-align:middle;
}

.value_text{
	color:#797776;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:25px;
	vertical-align:bottom;
	padding-left:0px;
}

.value_dis{font-size:10px; color:#6f6f6f; padding-top:30px;}
.value_btm_text{
	color:#888888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:bottom;
	padding-right:10px;
	text-align:right;
}
.value_news_header{font-size:12px; color:#605d5c; font-weight:bold; height:25px; border-bottom:solid 1px #d0d0d0;}
.value_news_header1{font-size:13px; color:#da251d; height:25px;font-weight:normal;}
.value_news_row{font-size:12px; color:#5f5c5b; height:31px;}
.value_news_row a:link{font-size:12px; color:#5f5c5b; height:31px;}
.value_news_row a:hover{font-size:12px; color:#da251d; height:31px; text-decoration:none;}
.value_news_row a:visited{font-size:12px; color:#5f5c5b; height:31px;}
.value_border{border-bottom:#d6d6d6 solid 1px;}
.value_news{font-size:12px; color:#5f5c5b; text-align:justify;}
.value_button3{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:80px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:647px;
}
.value_button4{
	background:url(../img/value_sbmt.jpg) repeat-x #cd1d15;
	border:#b61a13 solid 1px;
	height:23px;
	width:140px;
	color: #FFFFFF;
	cursor:pointer;
	vertical-align: top;
	margin-left:580px;
}

.value_dis1{font-size:10px; color:#6f6f6f; padding-top:5px;}


.value_txtbox1
{
    width: 95px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    height: 18px;
}

.main-content
{
  padding-left: 10px
}

.value_btm_text{
	color:#888888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:bottom;
	padding-right:15px;
	text-align:right;
}
.value_btm_text1{
	color:#888888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:bottom;
	padding-right:31px;
	text-align:right;
}


/*Mf basic*/
.dhtmlgoodies_question{	/* Styling question */
	/* Start layout CSS */
	
	color:#5f5c5b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:850px;
	font-weight:bold;
	margin-bottom:2px;
	padding-left:2px;
	background-repeat:no-repeat;
	background-position:top right;
	height:30px;
	border-bottom:#CCCCCC 1px solid;
	background-image:url(images/bullet_2.gif);
	background-repeat:no-repeat;
	background-position:right;
	line-height:12px;
	padding-top:11px;
	/* End layout CSS */
	
	overflow:hidden;
	cursor:pointer;
}
.dhtmlgoodies_answer{	/* Parent box of slide down content */
	/* Start layout CSS */
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:justify;
	line-height:20px;
	border:1px solid #cccccc;
	background-color:#f7f7f7;
	width:850px;
	/* End layout CSS */
	
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:1px;
	font-size:0.9em;	
	position:relative;
}
.level5{font-size:12px; font-weight:bold; text-decoration:underline;}

.value_news_header2{font-size:13px; color:#5b5857; height:25px;font-weight:bold;}
.value_fact_header{font-size:12px; color:#da251d; height:20px; font-weight:bold; border-bottom:dotted 1px #5f5c5b;}

.fund_innerbg
{
    background:#efefef;
    height: 30px;
    width: 100%;
    border: #e3e1e1 solid 1px;
    margin-bottom: 15px;
}
.scheme
{
    width: 60%;
    color: #414446;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}
.schemename
{
    color: #d91d15;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    text-align: left;
    padding-left: 20px;
    padding-right: 5px;
}
.value_leftcol
{
    color: #8c8a8a;
    font-size: 12px;
    width: 60%;
    height: 20px;
}
.value_rightcol
{
    color: #d91d15;
    font-size: 12px;
    width: 40%;
    height: 20px;
}
.value_leftcol1
{
    color: #575452;
    font-size: 12px;
    width: 60%;
    height: 20px;
    font-weight: bold;
    vertical-align: top;
}
.valuef_heading
{
    color: #5b5857;
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
    border-bottom: #0e476a dotted 1px;
    width: 90%;
    text-decoration:none;
    text-transform:none;
    font-weight: bold;
}
.valuef_heading1
{
    color: #5b5857;
    font-weight: bold;
    height: 10px;
    font-size: 12px;
    border-top: #0e476a dotted 1px;
    width: 90%;
    margin-bottom: 10px;
     text-decoration:none;
    text-transform:none;
}

.valuef_heading_alt1
{
    color: #373b3e;
    font-weight: bold;
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
    border-bottom: #0e476a dotted 1px;
    width: 70%;
     text-decoration:none;
    text-transform:none;
}
.valuef_heading_alt2
{
    color: #5b5857;
    font-weight: bold;
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
    border-bottom: #0e476a dotted 1px;
    width: 30%;
     text-decoration:none;
    text-transform:none;
}
.value_input8
{
    width: 400px;
    color: #5f5c5b;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 23px;
    vertical-align: top;
}
.value_input9
{
    width: 130px;
    color: #5f5c5b;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 18px;
    vertical-align: top;
    margin-left: 0px;
}
.value_input10
{
    width: 137px;
    color: #5f5c5b;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 23px;
    vertical-align: top;
    margin-left: 0px;
}
.value_input11
{
	width: 400px;
	color: #5f5c5b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 250px;
	vertical-align: top;
}
.value_input12
{
	width: 200px;
	color: #5f5c5b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	vertical-align: top;
}
.value_input13
{
	width: 115px;
    height: 18px;
	color: #5f5c5b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.value_input14
{
    width: 110px;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5f5c5b;
    
}
.value_input15
{
    width: 115px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5f5c5b;
    
}
.value_dis2{font-size:11px; color:#6f6f6f;}