/* CSS Document */

.header{
font-family: Calibri;
font-size:18px;
color:#000000;
text-decoration:none;
}

.header_bold{
font-family:Calibri;
font-size:18px;
color:#000000;
text-decoration:none;
font-weight:bold;
}

.header_top{
font-family:Calibri;
text-decoration:none;
font-weight:bold;
color: #c0c0c0;
 font-size: 30pt;
}
.input2{
border-style: none;
    border-color: inherit;
    border-width: medium;
    font-family:Calibri;
    color:#3d3e43;
    font-size:16px;
    margin:0px 0px 0px 8px;
    padding:0px;
}
.backlink
{
    font-family:Calibri;
    font-size:16px;
}