#DHTMLgoodies_formTooltipDiv{
	color:#0f8ccf;
	font-family:arial;
	font-style:italic;
	font-size:11px;
	line-height:16px;

}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#7c878d;
	font-weight:normal;
	font-size:10px;
}