body {margin: 0px 0px 0px 0px; font-family: Verdana; font-weight: normal; background-color:#ffffff;}
.FundServices {width: 950px;}
.TopBG {background-image: url(image/bannerbg.jpg); background-position: left -31px; background-repeat: repeat-x;}
.ButtonBG {font-family:Verdana;font-size:10px;color:black;font-weight:bold;border-color:Black;border-width:thin;}
.Banner {height: 70px; padding: 0px 10px;color: #fff;}
.content{font-family:Arial; font-weight:normal;font-size:11px; line-height:20px; color:Black;}
.textbox{font-family:Arial; clear:both; font-weight:normal;font-size:11px; color:Black;}
.ListtableRow{font-family:Arial; cursor:default; font-weight:normal;background-color:white; font-size:11px; line-height:17px; color:Black; }
.AlternateRow{background-color:#FDE3C5; cursor:default;font-family:Arial; font-weight:normal; font-size:11px; line-height:20px; color:Black;}
.ListtableHead{background-color:#FFA847; cursor:default;font-family:Arial; font-weight:bold; font-size:11px; line-height:20px; color:#004A80;}
.AlternateRow:hover{background-color:#EDCA8D;}
.ListtableRow:hover{background-color:#EDCA8D;}
.mainHeader{font-family:Arial; font-size:13px; font-weight:bold; color:#004A80;}
.SubHeader{font-family:Arial; font-size:12px; font-weight:bold; color:#A20C1C;}
.labels{font-family:Arial; font-size:11px; font-weight:normal; color:Black;}
.labelsHead{font-family:Arial; font-size:11px; font-weight:bold;}
a:link{font-family:Arial; font-size:11px; text-decoration:none; font-weight:normal; color:#c04066;}
a:hover {color:#C04066;font-size:11px; font-weight:normal; text-decoration:none;font-family:Arial;}
a:visited {color:#C04066; font-size:11px; text-decoration:none; font-weight:normal;font-family:Arial;}
a:active {color:#C04066;font-size:11px; font-weight:normal; text-decoration:none;font-family:Arial;}
#menu{	width:100%;height:61px;background:url(../../image/fm_menu_bg.jpg) repeat-x;}
#menu ul{width:100%;margin:0 auto;list-style:none;}
#menu li{list-style:none;display:block;float:left;font-size:14px;font-weight:bold;height:61px;line-height:61px;margin:0 5px;}
#menu li a{display:block;float:left;height:61px;color:#99a2b7;text-decoration:none;text-transform:uppercase;padding:0 15px;	}
#menu li a:hover{background:url(../../image/fm_hover_bg.jpg) repeat-x;color:#fff;}
#menu li a:hover span, #menu li .current span{background:url(../../image/fm_hover_pointer.jpg) no-repeat top;height:61px;display:block;float:left;}
#menu li .current{display:block;float:left;height:61px;	background:url(../../image/fm_hover_bg.jpg) repeat-x;color:#fff;text-decoration:none;text-transform:uppercase;padding:0 15px;}

#Amcmenu{	width:100%;height:61px;background:url(../../image/fm_menu_bg.jpg) repeat-x;}
#Amcmenu ul{width:100%;margin:0 auto;list-style:none;}
#Amcmenu li{list-style:none;display:block;float:left;font-size:12px;font-weight:bold;height:61px;line-height:61px;margin:0 2px;}
#Amcmenu li a{display:block;float:left;height:61px;color:#99a2b7;text-decoration:none;text-transform:uppercase;padding:0 2px;	}
#Amcmenu li a:hover{background:url(../../image/fm_hover_bg.jpg) repeat-x;color:#fff;}
#Amcmenu li a:hover span, #menu li .current span{background:url(../../image/fm_hover_pointer.jpg) no-repeat top;height:61px;display:block;float:left;}
#Amcmenu li .current{display:block;float:left;height:61px;	background:url(../../image/fm_hover_bg.jpg) repeat-x;color:#fff;text-decoration:none;text-transform:uppercase;padding:0 2px;}
